@import "tailwindcss";

@theme {
  --color-brand-green: #047047;
  --color-brand-accent: #bb9146;
  --color-brand-dark: #024d31;
  --color-brand-light: #e6f4ef;
  
  --color-brand-gold: #bb9146;
  --color-brand-gold-light: #fdf3e3;
  --color-brand-gold-dark: #8f6e33;

  --font-sans: Inter, Roboto, sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'Inter', sans-serif;
    color: #111827; /* text-gray-900 */
    background-color: #f9fafb; /* bg-gray-50 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Mobile optimizations */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
